<include file="Login:header" />

<div class="subnav">
    <div class="content_menu ib_a blue line_x">
        <a class="add fb J_showdialog" href="javascript:void(0);" data-uri="{:U('Cooperation/add')}" data-title="添加推广工具" data-id="add" data-width="500" data-height="150"><em>添加推广工具</em></a>　
        <a href="__ROOT__/static/file/customer_api.doc" target="_blank" class="btn btn-download btn-sm btn-info" style="background: #333333;color: #ffffff;" >
            <i class="fa fa-arrow-down"></i>下载接口API文档发给客户提供方
        </a>
    </div>
</div>
<!--栏目列表-->
<div class="pad_lr_10">
    <div class="J_tablelist table_list" data-acturi="{:U('Cooperation/ajax_edit')}">
    <table width="100%" cellspacing="0" id="J_cate_tree">
        <thead>
            <tr>
                <th width="30"><input type="checkbox" name="checkall" class="J_checkall"></th>
              	<th align="left">推广工具└─渠道</th>
              	<th align="left">工具密匙 / （渠道备注）</th>
                <th width="80">是否默认</th>
                <th width="80">渠道等级</th>
                <th width="40"><span data-field="status">状态</span></th>
                <th width="170">管理操作</th>
            </tr>
        </thead>
    	<tbody>
        {$list}
    	</tbody>
    </table>
    </div>
    <div style="height: 60px;"></div>
    <div class="btn_wrap_fixed">
        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">全选/取消</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Cooperation/delete')}?ok=1" data-name="id" data-msg="确认删除" value="删除" />
    </div>
</div>
<include file="Login:footer" />
<script src="__ROOT__/static/js/jquery/plugins/jquery.treetable.js"></script>
<script>
$(function(){
    $("#J_cate_tree").treeTable({indent:20,treeColumn:1});
    $(".J_preview").preview();
});
</script>
</body>
</html>