<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户登录</title>
    <link rel="stylesheet" href="__ROOT__/static/mobile/call/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ROOT__/static/mobile/call/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__ROOT__/static/mobile/call/css/form-elements.css">
    <link rel="stylesheet" href="__ROOT__/static/mobile/call/css/style.css">
</head>
<body>
<div id="container">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>密码登录</h3>
            </div>
        </div>
        <div class="form-bottom contact-form">
            <p>仅业务员登录 <span id="switchLogin" style="float: right">验证码登录</span></p>
            <form method="post" id="form1">
                <div class="form-group">
                    <input type="text" name="mobile" placeholder="请填写手机号" class="contact-email form-control" id="mobile">
                </div>
                <div class="form-group" style="display: block;" id="pass">
                    <input type="text" name="pass" placeholder="请填写密码" class="contact-subject form-control">
                </div>
                <div class="form-group" style="display: none;" id="code">
                    <input type="text" name="code" placeholder="请填写验证码" class="contact-subject form-control" style="width: 70%;">
                    <div id="sendCode" style="cursor:pointer;display: inline-block;float:right; margin-top: -50px; background: #f0a30a; border-radius: 5px; line-height: 50px; height: 50px; color: #ffffff; padding-left: 15px; padding-right: 15px;  font-weight: bold;  font-size: 16px;">发送</div>
                </div>
                <div style="width: 100%;padding-top: 10px;">
                    <button type="button" class="btn" style="width: 100%">立即登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="__ROOT__/static/mobile/call/js/jquery-1.11.1.min.js"></script>
<script src="__ROOT__/static/mobile/call/js/jquery.backstretch.min.js"></script>
<script src="__ROOT__/static/mobile/call/js/scripts.js"></script>
<script src="__ROOT__/static/mobile/layer/layer.js"></script>
<script>
    //加载窗口时
    $(window).load(function(){
        toggleCenter();
    });
    //改变浏览器窗口大小时
    $(window).resize(function(){
        toggleCenter();
    });
    function toggleCenter() {
        $("#container").css("margin-top",($(window).height() -$("#container").height())/2-20);
    }
    //切换登录方式
    $('#switchLogin').click(function(){
        if ($(this).text()=='密码登录') {
            $("#pass").css("display", "block");
            $("#code").css("display", "none");
            $('.form-top-left h3').text('密码登录');
            $(this).text('验证码登录')
        } else {
            $("#pass").css("display", "none");
            $("#code").css("display", "block");
            $('.form-top-left h3').text('验证码登录');
            $(this).text('密码登录')
        }
    });
    //表单提交
    $('.btn').click(function () {
        let mobile = $("#mobile").val();
        let regMobile = /(^1[3|4|5|6|7|8|9][0-9]{9}$)/;
        if(mobile == ''){
            return layer.msg("手机号码不能为空", {icon: 2});
        }
        if (mobile!="" && !regMobile.test(mobile)) {
            return layer.msg("手机号码格式不正确", {icon: 2});
        }
        if ($(".form-top-left h3").text()=='密码登录') {
            let pass = $("#pass input").val();
            if(pass == ''){
                return layer.msg("密码不能为空", {icon: 2});
            }
        } else {
            let code = $("#code input").val();
            if(code == ''){
                return layer.msg("验证码不能为空", {icon: 2});
            }
        }
        $.ajax({
            type: "post",
            url: "{:U('index/doLogin')}",
            data: $("#form1").serialize(),
            dataType:"json",
            success:function(data){
                if(data.errNum===0){
                    window.location.href = "{:U('wap/index/index')}";
                }else{
                    layer.msg(data.errMsg, {icon: 2});
                }
            }
        })
    });
    //发送验证码倒计时效果
    let sec=60;
    $('#sendCode').click(function(){
        if($(this).text()=='发送'){
            let mobile = $("#mobile").val();
            let regMobile = /(^1[3|4|5|6|7|8|9][0-9]{9}$)/;
            if(mobile == ''){
                return layer.msg("手机号码不能为空", {icon: 2});
            }
            if (mobile!="" && !regMobile.test(mobile)) {
                return layer.msg("手机号码格式不正确", {icon: 2});
            }
            $.ajax({
                type:"post",
                url:"{:U('index/send_code')}",
                data:{mobile: mobile},
                dataType:"json",
                success:function(data){
                    if(data.errNum===0){
                        time();
                        sec=60;
                    }else{
                        $('#postCode').text("发送");
                        return layer.msg(data.errMsg, {icon: 2});
                    }
                }
            })
        }
    });
    function time()
    {
        if(sec>0){
            $('#sendCode').text(sec+'秒');
            sec=sec-1;
            setTimeout(time,1000);
        }else{
            $('#sendCode').text('发送');
        }
    }
</script>
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 667px; width: 375px; z-index: -999999; position: fixed;">
    <img src="/static/mobile/call/img/backgrounds/1@2x.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1067px; height: 667px; max-height: none; max-width: none; z-index: -999999; left: -346px; top: 0px;" width="1067" height="667">
</div>
</body>
</html>