<include file="Login:header" />
<!--SEO设置-->
<div class="subnav">
    <h1 class="title_2 line_x">计划任务</h1>
</div>
<div class="pad_lr_10">
	<table width="100%" class="table_form">
        <tr>
            <th width="150"> :</th>
            <td>

            </td>
        </tr>

        <tr>
        	<th></th>
        	<td><input type="hidden" name="menuid"  value="{$menuid}"/><input type="submit" class="smt mr10" name="do" value="提交"/></td>
    	</tr>
	</table>
</div>
<include file="Login:footer" />
</body>
</html>