<include file="Login:header" />
<!--菜单列表-->
<div class="pad_lr_10">
    <div class="J_tablelist table_list" data-acturi="{:U('Rules/ajax_edit')}">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                <th width="40"><span tdtype="order_by" fieldname="id">ID</span></th>
      			<th style="text-align: left;">名称</th>
                <th style="text-align: left;">唯一标识</th>
                <th style="text-align: left;">权限类别</th>
                <th style="text-align: left;">状态</th>
                <th style="text-align: left;">表达式</th>
                <th width="40"style="text-align: left;"><span tdtype="order_by" fieldname="ordid">排序</span></th>
                <th width="120">管理操作</th>
            </tr>
            </thead>
    	   <tbody>
           <foreach name="list" item="vo">
               <tr>
                   <td align="center"><input type="checkbox" value="{$vo.id}" class="J_checkitem"></td>
                   <td align='center'>{$vo.id}</td>
                   <td>{$vo.title}</td>
                   <td>{$vo.name}</td>
                   <td>
                       <if condition="$vo['type'] eq 1">操作权限<elseif condition="$vo['type'] eq 2"/>菜单权限</if>
                   </td>
                   <td>{$vo.status_name}</td>
                   <td>{$vo.condition}</td>
                   <td align='center'><span data-tdtype='edit' data-field='ordid' data-id='{$vo.id}' class='tdedit'>{$vo.ordid}</span></td>
                   <td align='center'>
                       <a href="javascript:;" class="J_showdialog" data-uri="{:U('Rules/edit',array('id'=>$vo['id']))}" data-title="编辑 - {$vo.title}" data-id="edit" data-width="500" data-height="350">编辑</a> |
                       <a href="javascript:;" class="J_confirmurl" data-acttype="ajax" data-uri="{:U('Rules/delete',array('id'=>$vo['id']))}" data-msg="确认删除 - {$vo.title}">删除</a>
                   </td>
               </tr>
           </foreach>
    	   </tbody>
        </table>
    </div>
    <div style="height: 60px;"></div>
    <div class="btn_wrap_fixed">
        <label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">全选/取消</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Rules/delete')}?ok=1" data-name="id" data-msg="确认删除" value="删除" />
        <label>需要设置权限的模块功能请添加进全权限列表，没有添加进来的默认全部开放权限</label>
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Login:footer" />
</body>
</html>