<!--菜单添加-->
<div class="dialog_content">
    <form id="info_form" name="info_form" action="{:U('Companybranch/addScore')}" method="post">
        <table width="100%" class="table_form">
            <tr>
                <th>添加积分 :</th>
                <td><input type="text" name="score" id="addScore_score" class="input-text" value=""><input name="id" type="hidden" value="{$id}"></td>
            </tr>
        </table>
    </form>
</div>
<script>
    $(function(){
        $.formValidator.initConfig({formid:"info_form",autotip:true});
        $("#addScore_score").formValidator({ onshow:lang.please_input+'积分数', onfocus:lang.please_input+'积分数', oncorrect:lang.input_right}).inputValidator({ min:1, onerror:lang.please_input+'积分数'});

        $('#info_form').ajaxForm({success:complate,dataType:'json'});
        function complate(result){
            if(result.errNum === 0){
                $.dialog.get('addScore').close();
                $.yhxia.tip({content:result.retData});
                window.location.reload();
            } else {
                $.yhxia.tip({content:result.errMsg, icon:'alert'});
            }
        }
    })
</script>