<table width="100%" class="table_form" style="border: 1px solid #cecece;">
    <thead>
    <tr>
        <th>类型</th>
        <th>账目类别</th>
        <th>金额（元）</th>
        <th>创建时间</th>
        <th>付款方式</th>
        <th>付款时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="list" item="val">
        <tr>
            <td>
                <if condition="$val[type] eq 1"><b style="color: #3f913f;">收入</b><else/><b style="color: #ff2222;">支出</b></if>
            </td>
            <td>{$val['title']}</td>
            <td>{$val['money']}</td>
            <td>{:date('Y-m-d H:i:s',$val['create_time'])}</td>
            <td>{$val['pay_type']}</td>
            <td>{:date('Y-m-d',$val['pay_time'])}</td>
            <td>
                <a href="javascript:void(0);" class="J_confirmurl" data-acttype="ajax" data-uri="{:U('Account/delete', array('id'=>$val['id']))}" data-msg="删除这个账单">删除</a>
            </td>
        </tr>
    </foreach>
    </tbody>
</table>